.header {
  border: 1px solid blue;
  padding: 20px 10px;
}

/* Nav bar styling */
.site-title {
  padding: 5px;
  color: lightskyblue;
}

nav ul {
  list-style: none;
}

nav ul li {
  display: inline;
}

nav ul li a {
  color: lightskyblue;
  background-color: black;
  padding: 5px;
  text-decoration: none;
  border-radius: 4px;
}

nav ul li a:hover {
  background-color: lightskyblue;
  color: black;
}
