.app {
  height: 100dvh;
  margin: 0px;
  padding: 10px;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.light {
  background-color: white;
  color: lightskyblue;
  transition: all 0.2s ease-in-out;
}

.dark {
  background-color: black;
  color: beige;
  transition: all 0.2s ease-in-out;
}
