* {
  padding: 0px;
  margin: 0px;
  box-sizing: border-box;
}

.container {
  display: flex;
  gap: 15px;
  flex-wrap: wrap;
  padding: 10px;
  width: 80%;
  margin: 20px auto;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.8);
}

.card {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 22%;
  text-align: center;
  padding: 10px;
  border-radius: 10px;
  border: 1px solid tomato;
  transition: all 0.2s ease-in;
}

.card:hover {
  transform: scale(1.1);
  box-shadow: 0px 0px 8px rgba(56, 175, 250, 0.5);
}

.card img {
  width: 100%;
}

.card button {
  border: none;
  outline: none;
  padding: 5px 10px;
  background-color: rgb(24, 155, 255);
  color: white;
  font-weight: bold;
  transition: all 0.2s ease-in-out;
}

.card button:hover {
  transform: translateY(-3px);
}
