* {
  padding: 0px;
  margin: 0px;
  box-sizing: border-box;
}

.container {
  height: 100dvh;
  background-color: aliceblue;
  padding: 20px;
}

.container .title {
  text-align: center;
  color: lightcoral;
}

.cards {
  width: 80%;
  max-height: calc(90dvh - 100px);
  margin-left: 10%;
  padding: 10px;
  border: 2px solid lightcoral;
  border-radius: 10px;
  box-shadow: 0px 0px 7px rgba(0, 0, 0, 0.3);
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 20px;
  overflow-y: auto;
}

.cards .card {
  width: 16%;
  padding: 10px;
  background-color: rgb(31, 31, 50);
  color: white;
  display: flex;
  flex-direction: column;
  row-gap: 10px;
  justify-content: center;
  align-items: center;
  text-align: center;
  border-radius: 5px;
  cursor: default;
  transition: all 0.4s ease-in-out;
}

.card:hover {
  transform: scale(1.1);
  box-shadow: 0px 0px 15px rgb(152, 124, 124);
}

.card-image {
  width: 100px;
  height: 100px;
  background-color: white;
  border-radius: 50px;
}
